.clients {

}
.clients__inner {
  max-width: 1680px;
  margin: auto;
  padding: 186px 112px 166px;
}
.clients__borderTopHeader {
  margin: 0;
}

.clients__parallax {
  width: 100%;
  overflow: hidden;
}
.clients__parallaxBlock {
  height: 92px;
  width: 200vw;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.clients__logoImg {
  max-width: 8%;
  max-height: 100%;
  padding: 0 1%;
}

.clients__triggerInner {
  max-width: 600px;
}

@media (max-width: 1280px) {
  .clients__inner {
    padding: 128px 112px 128px;
  }
}

@media (max-width: 768px) {
  .clients__inner {
    padding: 86px 64px 64px;
  }
  .clients__parallaxBlock {
    padding: 24px 0;
  }
}

@media (max-width: 414px) {
  .clients__inner {
    padding: 86px 12px 64px;
  }
  .clients__logoImg {
    max-width: 16%;
    padding: 0 2%;
  }
}