.contacts {
  position: relative;
  background: url("../static/contactsBG_2x.png");
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients__topGradient {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  background: linear-gradient(82.55deg, #00CDFF 0%, #7744D2 39.1%, #FF3C01 67.17%, #FFC700 96.24%);
  transform: rotate(-180deg);
}
.contacts__inner {
  max-width: 1680px;
  margin: auto;
  padding: 120px 112px 0;
}
.contacts__content {
  max-width: 800px;
}
.contacts__header {
  margin: 0;
  display: flex;
  align-items: center;  
}
.contacts__headerImg {
  max-width: 46px;
  margin: 0 26px 0 0;
}
.contacts__headerText {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 82px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts__contactsContainer {
  margin: 104px 0 224px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__contact {
  width: 42%;
  padding: 0 0 75px;
}
.contact {

}
.contact__header {
  margin: 0 0 38px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.contact__text {
  margin: 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.35);
}
.contact__text--hightlight {
  font-weight: bold;
  color: #FFFFFF;
}

.footer__borderTopContainer {
  border-top: 2px solid #FFFFFF;
  padding-bottom: 90px;
}
.footer__contentContainer {
  flex-wrap: wrap;
}
.footer__text {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__text--layout-left {
  margin: 0 98px 0 0;
}
.footer__text--layout-center {
  margin: 0 auto 0 0;
}
.footer__link {
  height: auto;
  background: none;
}
.footer__linkText {
  margin: 0 8px 0 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__markweberLogo {
  transform: translateY(20%);
}