.heroSection {
  /* background-color: #FFFFFF; */
}
.backgoundLogo {
  /* width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; */

  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}
.backgoundLogo__img {
  /* max-width: 100%;
  margin: 0 0 0 auto;
  display: block; */

  height: 100%;
  max-width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.heroSection__borderTopHeaderContainer {
  max-width: 1680px;
  margin: 86px auto 0;
  /* padding: 166px 112px 166px */;
  padding: 0 112px;
  position: relative;
}
.heroSection__inner {
  max-width: 1680px;
  min-height: 100vh;
  margin: auto;
  padding: 166px 112px 10%;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  /* justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap; */
}
.heroSection__contentContainer {
  width: 100%;
  margin: auto auto 0;
  display: flex;
  flex-wrap: wrap;
}
.heroSection__block {
  flex: 0 50%;
}
.heroSection__block--left {
  
}
.heroBlockLeft__content {
  max-width: 600px;
}
.heroBlockLeft__header {
  margin: 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.heroBlockLeft__colorText {
  color: #7744D2;
}
.heroBlockLeft__text {
  max-width: 480px;
  margin: 26px 0 44px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #0F001E;
}
.heroBlockLeft__link,
.heroSection .heroBlockLeft__link {
  width: 280px;
  margin: 0 0 14px;
  padding: 0;
}

.heroSection__block--right {
  
}
.heroSection__gradientHeadersContainer {
  width: 386px;
  margin: 0 0 0 auto;
  border-top: 2px solid #0F001E;
  position: relative;
}
.heroSection__gradientHeadersLayout {
  position: absolute;
}
.heroBlockRight__header {
  margin: 30px 0 0 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #0F001E;
}
.heroBlockRight__gradientText {
  margin: 10px 0 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  background: linear-gradient(135.66deg, #00CDFF 1.13%, #7744D2 41.3%, #FF3C01 70.14%, #FFC700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.heroBlockRight__text {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #505050;
}


@media(max-width: 768px) {
  .heroSection__inner {
    padding: 166px 64px 166px;
  }
  .heroSection__block {
    flex: 0 100%;
  }
  .heroSection__borderTopHeaderContainer {
    padding: 0 64px;
  }
  .heroSection__block--right {
    width: 100%;
  }
  .heroSection__gradientHeadersContainer {
    width: 100%;
  }
  .heroSection__gradientHeadersLayout {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .heroBlockRight__header {
    width: 31%;
  }
  .heroBlockLeft__link, .heroSection .heroBlockLeft__link {
    margin: 32px 0 14px;
  }
}

@media (max-width: 414px) {
  .heroSection__inner {
    padding: 166px 12px 10%;
  }
  .heroSection__backgoundLogoImg {
    /* height: 100vh; */

    max-width: unset;
    height: 100vh;
    bottom: unset;
    right: unset;
  }
  .heroBlockLeft__header {
    font-size: 24px;
    line-height: 26px;
  }
  .heroBlockLeft__text {
    font-size: 16px;
    line-height: 18px;
  }
  .heroSection__borderTopHeaderContainer {
    margin: 0 auto;
    padding: 12px;
  }
  .heroSection__block--right {
    display: block;
  }
  .heroSection__block--bottom {
    text-align: center;
  }
  .heroBlockRight__header {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
  }
  .heroBlockRight__gradientText {
    font-size: 18px;
    line-height: 20px;
  }
}