.navBar {

}
.navBar__inner {
  height: 110px;
  width: 100%;
  max-width: 1680px;
  padding: 0 112px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar__logosContainer {
  height: 76px;
  position: relative;
}
.navBar__logo {
  max-height: 100%;
  display: block;
  transition: 0.15s ease-in-out;
}
.navBar__logo--light {

}
.navBar__logo--dark {
  position: absolute;
  top: 0;
  left: 0;
}
.navBar__logo--opacity-0 {
  opacity: 0;
}
.navBar__buttons {
  display: flex;
  transition: 0.15s ease-in-out;
}
.navBar__buttons--hidden {
  visibility: hidden;
  opacity: 0;
}
.menuButon {
  display: flex;
  align-items: center;
  color: #0F001E;
}
.menuButon--active {
  color: #FFFFFF;
}
.menuButon__icon {
  width: 32px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menuButon__iconLine {
  width: 100%;
  border: 1px solid #0F001E;
  transform-origin: 0% 50%;
  transition: .25s ease-in-out;
}
.menuButon__iconLine--active {
  border: 1px solid #FFFFFF;
}
.menuButon__iconLine--transform-down {
  transform: translateX(4px) translateY(-7px) rotate(45deg);
}
.menuButon__iconLine--transform-up {
  transform: translateX(4px) translateY(7px) rotate(-45deg);
}
.menuButon__text {
  margin: 0 0 0 16px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.navBar__chatButon {
  width: 70px;
  height: 70px;
  position: relative;
}
.navBar__chatButtonLogo {
  max-width: 100%;
  max-height: 100%;
  transition: 0.15s ease-in-out;
  /* background: url("../static/chatLogo.svg" ); */
}
.navBar__chatButtonLogo--gradient {
  position: absolute;
  top: 0;
  left: 0;
  /* background: url("../static/chatLogo--gradient.svg" ); */
}
.navBar__buttonsGap {
  width: 20vw;
  min-width: 20px;
  max-width: 197px;
}
.scroll-sections-horisontal__navBar {
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 1680px;
  margin: auto;
}