.solutions {
  background-color: #ffffff;
}
.solutions__inner {
  max-width: 1680px;
  margin: auto;
  padding: 150px 112px 0;
}
.solutions__header {
  max-width: 392px;
}


.accordionSection {
  min-height: 40vw;
  margin: 100px 0 0;
  display: flex;
}

.accordionSection__imagesContainer {
  width: 50%;
  position: relative;
}
.accordionSection__imgContainer {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 100px 0 0;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
}
.accordionSection__img {
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
}
.accordionSection__imgMask {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(6px);
}
.accordionSection__accordion {
  width: auto;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.accordion {

}
.accordion__inner {
  border-top: 1px solid #0F001E;
}
.accordion__block {
  border-bottom: 1px solid #0F001E;
}
.accordion__block--active {

}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion__headerText {
  margin: 38px 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #0F001E;
  transition: 0.2s ease-in-out;
}
.accordion__block--active .accordion__headerText {
  color: #7744D2;
}
.accordion__headerIcon {
  margin: 0 0 0 16px;
  width: 20px;
  height: 2px;
  position: relative;
  flex-shrink: 0;
}
.accordion__iconLine {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0F001E;
  transition: 0.2s ease-in-out;
}
.accordion__block--active 
.accordion__iconLine {
  background-color: #7744D2;
}

.accordion__iconLine--plus {
  transform: rotate(-90deg);
}
.accordion__block--active .accordion__iconLine--plus {
  transform: rotate(0deg);
}


.accordion__content {
  height: 0;
  overflow: hidden;
}

.numList {
  counter-reset: li; 
  list-style: none;
  margin: 0; 
  padding: 0;
}
.numList__item {
  position:relative;
}
.numList__item:before {
  content:counter(li);
  counter-increment:li;
}


.accordion__numList {
  padding: 0 0 46px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #0F001E;
}
.accordion__numListItem {
  padding: 0 0 20px 36px;
}
.accordion__numListItem:before {
  position: absolute;
  left: 0px;
  top: -6px;
  font-family: Input Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-transform: uppercase;
  color: #0F001E;
}
@media (max-width: 1680px) {
  .accordionSection {
    min-height: 60vw;
  }
  .accordionSection__accordion {
    width: 50%;
  }
  .accordionSection__imgContainer {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 768px) {
  .solutions__inner {
    padding: 68px 64px 0;
  }
  .accordionSection__imagesContainer {
    display: none;
  }
  .accordionSection__accordion {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .solutions__inner {
    padding: 68px 12px 0;
  }
  .accordionSection {
    margin: 66px 0 0;
  }
  .accordion__headerText {
    margin: 24px 0;
    font-size: 16px;
    line-height: 18px;
  }
  .accordion__numList {
    padding: 0 0 12px;
    font-size: 16px;
    line-height: 18px;
  }
  .accordion__numListItem:before {
    font-size: 16px;
    line-height: 18px;
    top: 4px;
  }
  .accordion__numListItem {
    padding: 0 0 20px 24px;
  }
}