.trigger {
  background: url('../static/BG--trigger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #7744D2;
  border-radius: 7px;
}
.trigger__inner {
  margin: auto;
  padding: 80px 92px;
  text-align: center;
}
.trigger__header,
.trigger__text {
  margin: auto;
  font-family: PT Root UI;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}
.trigger__header {
  margin: auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.trigger__text {
  max-width: 821px;
  padding: 34px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.trigger__link {
  display: inline-block;
  margin: 0;
  padding: 0 34px;
  overflow: hidden;
}
.trigger__link:hover {
  opacity: 1;
}
.trigger__linkTextContainer {
  height: 100%;
  transition: 0.5s ease-in-out;
  transform: translateY(0%);
}
.trigger__link:hover .trigger__linkTextContainer {
  transform: translateY(-200%);
}

.trigger__linkText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: PT Root UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  background: linear-gradient(135.66deg, #00CDFF 1.13%, #7744D2 41.3%, #FF3C01 70.14%, #FFC700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}